.botao{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
.botao--escuro{
    display: flex;
    background-color: transparent;
    content: url("../img/sol.png");
    width: 50px;
    cursor: pointer;
    border: none;
    transition: 1s;
}
.botao--escuro:active{
    width: 51px;
}
.botao--claro{
    display: flex;
    content: url("../img/lua.png");
}